# Dependencies
node_modules/

# Build output
dist/
release/

# TypeScript
*.tsbuildinfo

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# Logs
*.log
npm-debug.log*

.mew/node_modules/
.mew/pm2/
.mew/logs/
.mew/fifos/
.mew/tokens/
.mew/.env